const {{pascalCase name}}Add = () => {
  return (
    <>
        <div>Cette page contient les informations d'add du module</div>
        <div>Il faudra ajouter le formulaire ici</div>
    </>
  );
}

export default {{pascalCase name}}Add;
