const {{pascalCase name}}Edit = () => {
  return (
    <>
        <div>Cette page contient les informations de modification du module</div>
        <div>Il faudra ajouter le formulaire ici</div>
    </>
  );
}

export default {{pascalCase name}}Edit;
