const {{pascalCase name}}Form = () => {
  return (
    <>
        <div>Cette page contient les informations de formulaire du module</div>
        <div>La template sera complétée lorsque les formulaires seront prêts</div>
    </>
  );
}

export default {{pascalCase name}}Form;
