@use "../base/variables.scss" as var;

.navbar-container {
  background-color: var.$color-light;
}

.navbar-brand {
  color: var.$color-secondary;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.9;
  }
}

.navbar-logo {
  height: 40px;
  width: auto;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.btn-primary {
  background-color: var.$color-secondary;

  &:hover {
    background-color: darken(var.$color-secondary, 10%);
  }
}

.btn-outline {
  color: var.$color-secondary;
  border-color: var.$color-secondary;

  &:hover {
    background-color: var.$color-secondary;
    color: white;
  }
}