// Import des variables et mixins
@use '../../base/variables' as var;
@use '../../base/mixins' as mix;

.category-slider-container {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 10px var.$shadow-light;

    .category-slider-wrapper {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 40px;

        .category-slider {
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;
            width: calc(100%);
            // padding: 5px 25px;
            // margin: 0 10px;
            border-radius: 5px;
            gap: 10px;

            &::-webkit-scrollbar {
                display: none;
            }


            .category-button {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 20px;
                // margin-right: 10px;
                background-color: #f0f2f5;
                border: none;
                border-radius: var.$card-border-radius;
                cursor: pointer;
                transition: all 0.3s;
                color: #4a4a4a;
                font-weight: 500;

                &:hover {
                    background-color: #e6e9ed;
                }

                &.active {
                    background-color: var.$color-primary;
                    color: white;
                }
            }

            .category-emoji {
                font-size: 1.5rem;
                margin-bottom: 5px;
            }

        }


        .slider-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 36px;
            height: 36px;
            background-color: white;
            border: 1px solid #e0e0e0;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 2px 5px var.$shadow-light;
            z-index: 1;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0 3px 8px var.$shadow-medium;
                background-color: var.$background-color;
            }

            &.slider-arrow-right {
                right: -0.25rem;
            }

            &.slider-arrow-left {
                left: -0.25rem;
            }
        }

    }
}